Projects/Discovery/Discovery/Discovery/RequestManagement/Discovery.RequestManager/Discovery.RequestManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="Discovery.RequestManager">
  <xs:element name="RequestController">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomSettings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Setting" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RequestManagers" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RequestManager" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomSettings" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Setting" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="Name" type="xs:string" use="required" />
                              <xs:attribute name="Value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Subscribers" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Subscriber" minOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Filters" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Filter" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="Label" type="xs:string" use="required" />
                                          <xs:attribute name="Body" type="xs:string" use="required" />
                                          <xs:attribute name="Operator" type="xs:string" use="required" />
                                          <xs:attribute name="Enabled" type="xs:boolean" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="CustomSettings" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Setting" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="Name" type="xs:string" use="required" />
                                          <xs:attribute name="Value" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="Label" type="xs:string" use="required" />
                              <xs:attribute name="Body" type="xs:string" use="required" />
                              <xs:attribute name="Operator" type="xs:string" use="required" />
                              <xs:attribute name="Type" type="xs:string" use="required" />
                              <xs:attribute name="StopOnFailed" type="xs:boolean" use="required" />
                              <xs:attribute name="StopOnConsumed" type="xs:boolean" use="required" />
                              <xs:attribute name="StopOnProcessed" type="xs:boolean" use="required" />
                              <xs:attribute name="Instrumentation" type="xs:boolean" use="required" />
                              <xs:attribute name="Enabled" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Description" type="xs:string" use="required" />
                  <xs:attribute name="ProcessorType" type="xs:string" use="required" />
                  <xs:attribute name="MinThreads" type="xs:int" use="required" />
                  <xs:attribute name="MaxThreads" type="xs:int" use="required" />
                  <xs:attribute name="WorkPauseSeconds" type="xs:decimal" use="required" />
                  <xs:attribute name="ShutdownPauseSeconds" type="xs:decimal" use="required" />
                  <xs:attribute name="ConsumeUnprocessed" type="xs:boolean" use="required" />
                  <xs:attribute name="Enabled" type="xs:boolean" use="required" />
                  <xs:attribute name="MaxErrors" type="xs:int" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Trace" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>