Pitsservice/Web References/uksql3/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.Accuride.com/EventService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.Accuride.com/EventService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Accuride.com/EventService">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="LoadCombo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUniqueId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadComboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadComboResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Changes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pudtParams" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadEventsOfAGivenType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accurideLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eventTypeId" type="s0:EventTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="EventTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Standard" />
          <s:enumeration value="Closure" />
          <s:enumeration value="Revision" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LoadEventsOfAGivenTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadEventsOfAGivenTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accurideLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eventId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEventTypeResult" type="s0:EventTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanProjectBeClosed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanProjectBeClosedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanProjectBeClosedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanProjectBeRevised">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanProjectBeRevisedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanProjectBeRevisedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicableEventsForProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="getCombined" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicableEventsForProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicableEventsForProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsProjectMultiEventing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsProjectMultiEventingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsProjectMultiEventingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AmITheRaiserOfAMultiEventProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AmITheRaiserOfAMultiEventProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AmITheRaiserOfAMultiEventProjectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiEventingRaiser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiEventingRaiserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMultiEventingRaiserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateMultiEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintEventId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="currentUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateMultiEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateMultiEventResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReassignEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintEventId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="currentUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReassignEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReassignEventResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccurideLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EventId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupIds" type="s0:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="eventTypeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetEventsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="params" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDatabaseName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DBName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDatabaseNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseName">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabaseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearDatabaseName">
        <s:complexType />
      </s:element>
      <s:element name="ClearDatabaseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearDatabaseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerName">
        <s:complexType />
      </s:element>
      <s:element name="GetServerNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatabaseUserName">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabaseUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatabasePassword">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabasePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabasePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="ConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="displayId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="accurideLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="uniqueId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLanguageStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrimaryKeyColumns">
        <s:complexType />
      </s:element>
      <s:element name="GetPrimaryKeyColumnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrimaryKeyColumnsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculatedText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculatedTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCalculatedTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxLengthResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultValueResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCalculated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCalculatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCalculatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNullable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNullableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsNullableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldInfoStructure">
        <s:complexType />
      </s:element>
      <s:element name="GetFieldInfoStructureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFieldInfoStructureResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="LoadComboSoapIn">
    <part name="parameters" element="s0:LoadCombo" />
  </message>
  <message name="LoadComboSoapOut">
    <part name="parameters" element="s0:LoadComboResponse" />
  </message>
  <message name="UpdateDataSoapIn">
    <part name="parameters" element="s0:UpdateData" />
  </message>
  <message name="UpdateDataSoapOut">
    <part name="parameters" element="s0:UpdateDataResponse" />
  </message>
  <message name="LoadDataSoapIn">
    <part name="parameters" element="s0:LoadData" />
  </message>
  <message name="LoadDataSoapOut">
    <part name="parameters" element="s0:LoadDataResponse" />
  </message>
  <message name="LoadEventsOfAGivenTypeSoapIn">
    <part name="parameters" element="s0:LoadEventsOfAGivenType" />
  </message>
  <message name="LoadEventsOfAGivenTypeSoapOut">
    <part name="parameters" element="s0:LoadEventsOfAGivenTypeResponse" />
  </message>
  <message name="GetEventTypeSoapIn">
    <part name="parameters" element="s0:GetEventType" />
  </message>
  <message name="GetEventTypeSoapOut">
    <part name="parameters" element="s0:GetEventTypeResponse" />
  </message>
  <message name="CanProjectBeClosedSoapIn">
    <part name="parameters" element="s0:CanProjectBeClosed" />
  </message>
  <message name="CanProjectBeClosedSoapOut">
    <part name="parameters" element="s0:CanProjectBeClosedResponse" />
  </message>
  <message name="CanProjectBeRevisedSoapIn">
    <part name="parameters" element="s0:CanProjectBeRevised" />
  </message>
  <message name="CanProjectBeRevisedSoapOut">
    <part name="parameters" element="s0:CanProjectBeRevisedResponse" />
  </message>
  <message name="GetApplicableEventsForProjectSoapIn">
    <part name="parameters" element="s0:GetApplicableEventsForProject" />
  </message>
  <message name="GetApplicableEventsForProjectSoapOut">
    <part name="parameters" element="s0:GetApplicableEventsForProjectResponse" />
  </message>
  <message name="IsProjectMultiEventingSoapIn">
    <part name="parameters" element="s0:IsProjectMultiEventing" />
  </message>
  <message name="IsProjectMultiEventingSoapOut">
    <part name="parameters" element="s0:IsProjectMultiEventingResponse" />
  </message>
  <message name="AmITheRaiserOfAMultiEventProjectSoapIn">
    <part name="parameters" element="s0:AmITheRaiserOfAMultiEventProject" />
  </message>
  <message name="AmITheRaiserOfAMultiEventProjectSoapOut">
    <part name="parameters" element="s0:AmITheRaiserOfAMultiEventProjectResponse" />
  </message>
  <message name="GetMultiEventingRaiserSoapIn">
    <part name="parameters" element="s0:GetMultiEventingRaiser" />
  </message>
  <message name="GetMultiEventingRaiserSoapOut">
    <part name="parameters" element="s0:GetMultiEventingRaiserResponse" />
  </message>
  <message name="CreateMultiEventSoapIn">
    <part name="parameters" element="s0:CreateMultiEvent" />
  </message>
  <message name="CreateMultiEventSoapOut">
    <part name="parameters" element="s0:CreateMultiEventResponse" />
  </message>
  <message name="ReassignEventSoapIn">
    <part name="parameters" element="s0:ReassignEvent" />
  </message>
  <message name="ReassignEventSoapOut">
    <part name="parameters" element="s0:ReassignEventResponse" />
  </message>
  <message name="SetEventsSoapIn">
    <part name="parameters" element="s0:SetEvents" />
  </message>
  <message name="SetEventsSoapOut">
    <part name="parameters" element="s0:SetEventsResponse" />
  </message>
  <message name="GetEventInfoSoapIn">
    <part name="parameters" element="s0:GetEventInfo" />
  </message>
  <message name="GetEventInfoSoapOut">
    <part name="parameters" element="s0:GetEventInfoResponse" />
  </message>
  <message name="SetDatabaseNameSoapIn">
    <part name="parameters" element="s0:SetDatabaseName" />
  </message>
  <message name="SetDatabaseNameSoapOut">
    <part name="parameters" element="s0:SetDatabaseNameResponse" />
  </message>
  <message name="GetDatabaseNameSoapIn">
    <part name="parameters" element="s0:GetDatabaseName" />
  </message>
  <message name="GetDatabaseNameSoapOut">
    <part name="parameters" element="s0:GetDatabaseNameResponse" />
  </message>
  <message name="ClearDatabaseNameSoapIn">
    <part name="parameters" element="s0:ClearDatabaseName" />
  </message>
  <message name="ClearDatabaseNameSoapOut">
    <part name="parameters" element="s0:ClearDatabaseNameResponse" />
  </message>
  <message name="GetServerNameSoapIn">
    <part name="parameters" element="s0:GetServerName" />
  </message>
  <message name="GetServerNameSoapOut">
    <part name="parameters" element="s0:GetServerNameResponse" />
  </message>
  <message name="GetDatabaseUserNameSoapIn">
    <part name="parameters" element="s0:GetDatabaseUserName" />
  </message>
  <message name="GetDatabaseUserNameSoapOut">
    <part name="parameters" element="s0:GetDatabaseUserNameResponse" />
  </message>
  <message name="GetDatabasePasswordSoapIn">
    <part name="parameters" element="s0:GetDatabasePassword" />
  </message>
  <message name="GetDatabasePasswordSoapOut">
    <part name="parameters" element="s0:GetDatabasePasswordResponse" />
  </message>
  <message name="ConnectionStringSoapIn">
    <part name="parameters" element="s0:ConnectionString" />
  </message>
  <message name="ConnectionStringSoapOut">
    <part name="parameters" element="s0:ConnectionStringResponse" />
  </message>
  <message name="GetLanguageStringSoapIn">
    <part name="parameters" element="s0:GetLanguageString" />
  </message>
  <message name="GetLanguageStringSoapOut">
    <part name="parameters" element="s0:GetLanguageStringResponse" />
  </message>
  <message name="GetPrimaryKeyColumnsSoapIn">
    <part name="parameters" element="s0:GetPrimaryKeyColumns" />
  </message>
  <message name="GetPrimaryKeyColumnsSoapOut">
    <part name="parameters" element="s0:GetPrimaryKeyColumnsResponse" />
  </message>
  <message name="GetCalculatedTextSoapIn">
    <part name="parameters" element="s0:GetCalculatedText" />
  </message>
  <message name="GetCalculatedTextSoapOut">
    <part name="parameters" element="s0:GetCalculatedTextResponse" />
  </message>
  <message name="GetMaxLengthSoapIn">
    <part name="parameters" element="s0:GetMaxLength" />
  </message>
  <message name="GetMaxLengthSoapOut">
    <part name="parameters" element="s0:GetMaxLengthResponse" />
  </message>
  <message name="GetDefaultValueSoapIn">
    <part name="parameters" element="s0:GetDefaultValue" />
  </message>
  <message name="GetDefaultValueSoapOut">
    <part name="parameters" element="s0:GetDefaultValueResponse" />
  </message>
  <message name="IsCalculatedSoapIn">
    <part name="parameters" element="s0:IsCalculated" />
  </message>
  <message name="IsCalculatedSoapOut">
    <part name="parameters" element="s0:IsCalculatedResponse" />
  </message>
  <message name="IsNullableSoapIn">
    <part name="parameters" element="s0:IsNullable" />
  </message>
  <message name="IsNullableSoapOut">
    <part name="parameters" element="s0:IsNullableResponse" />
  </message>
  <message name="GetFieldInfoStructureSoapIn">
    <part name="parameters" element="s0:GetFieldInfoStructure" />
  </message>
  <message name="GetFieldInfoStructureSoapOut">
    <part name="parameters" element="s0:GetFieldInfoStructureResponse" />
  </message>
  <portType name="EventServiceSoap">
    <operation name="LoadCombo">
      <input message="s0:LoadComboSoapIn" />
      <output message="s0:LoadComboSoapOut" />
    </operation>
    <operation name="UpdateData">
      <input message="s0:UpdateDataSoapIn" />
      <output message="s0:UpdateDataSoapOut" />
    </operation>
    <operation name="LoadData">
      <input message="s0:LoadDataSoapIn" />
      <output message="s0:LoadDataSoapOut" />
    </operation>
    <operation name="LoadEventsOfAGivenType">
      <input message="s0:LoadEventsOfAGivenTypeSoapIn" />
      <output message="s0:LoadEventsOfAGivenTypeSoapOut" />
    </operation>
    <operation name="GetEventType">
      <input message="s0:GetEventTypeSoapIn" />
      <output message="s0:GetEventTypeSoapOut" />
    </operation>
    <operation name="CanProjectBeClosed">
      <input message="s0:CanProjectBeClosedSoapIn" />
      <output message="s0:CanProjectBeClosedSoapOut" />
    </operation>
    <operation name="CanProjectBeRevised">
      <input message="s0:CanProjectBeRevisedSoapIn" />
      <output message="s0:CanProjectBeRevisedSoapOut" />
    </operation>
    <operation name="GetApplicableEventsForProject">
      <input message="s0:GetApplicableEventsForProjectSoapIn" />
      <output message="s0:GetApplicableEventsForProjectSoapOut" />
    </operation>
    <operation name="IsProjectMultiEventing">
      <input message="s0:IsProjectMultiEventingSoapIn" />
      <output message="s0:IsProjectMultiEventingSoapOut" />
    </operation>
    <operation name="AmITheRaiserOfAMultiEventProject">
      <input message="s0:AmITheRaiserOfAMultiEventProjectSoapIn" />
      <output message="s0:AmITheRaiserOfAMultiEventProjectSoapOut" />
    </operation>
    <operation name="GetMultiEventingRaiser">
      <input message="s0:GetMultiEventingRaiserSoapIn" />
      <output message="s0:GetMultiEventingRaiserSoapOut" />
    </operation>
    <operation name="CreateMultiEvent">
      <input message="s0:CreateMultiEventSoapIn" />
      <output message="s0:CreateMultiEventSoapOut" />
    </operation>
    <operation name="ReassignEvent">
      <input message="s0:ReassignEventSoapIn" />
      <output message="s0:ReassignEventSoapOut" />
    </operation>
    <operation name="SetEvents">
      <input message="s0:SetEventsSoapIn" />
      <output message="s0:SetEventsSoapOut" />
    </operation>
    <operation name="GetEventInfo">
      <input message="s0:GetEventInfoSoapIn" />
      <output message="s0:GetEventInfoSoapOut" />
    </operation>
    <operation name="SetDatabaseName">
      <documentation>Assigns an alternative database to use.</documentation>
      <input message="s0:SetDatabaseNameSoapIn" />
      <output message="s0:SetDatabaseNameSoapOut" />
    </operation>
    <operation name="GetDatabaseName">
      <documentation>Retrieves the database.</documentation>
      <input message="s0:GetDatabaseNameSoapIn" />
      <output message="s0:GetDatabaseNameSoapOut" />
    </operation>
    <operation name="ClearDatabaseName">
      <documentation>Clears database for IP address of user.</documentation>
      <input message="s0:ClearDatabaseNameSoapIn" />
      <output message="s0:ClearDatabaseNameSoapOut" />
    </operation>
    <operation name="GetServerName">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetServerNameSoapIn" />
      <output message="s0:GetServerNameSoapOut" />
    </operation>
    <operation name="GetDatabaseUserName">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetDatabaseUserNameSoapIn" />
      <output message="s0:GetDatabaseUserNameSoapOut" />
    </operation>
    <operation name="GetDatabasePassword">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetDatabasePasswordSoapIn" />
      <output message="s0:GetDatabasePasswordSoapOut" />
    </operation>
    <operation name="ConnectionString">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:ConnectionStringSoapIn" />
      <output message="s0:ConnectionStringSoapOut" />
    </operation>
    <operation name="GetLanguageString">
      <input message="s0:GetLanguageStringSoapIn" />
      <output message="s0:GetLanguageStringSoapOut" />
    </operation>
    <operation name="GetPrimaryKeyColumns">
      <input message="s0:GetPrimaryKeyColumnsSoapIn" />
      <output message="s0:GetPrimaryKeyColumnsSoapOut" />
    </operation>
    <operation name="GetCalculatedText">
      <input message="s0:GetCalculatedTextSoapIn" />
      <output message="s0:GetCalculatedTextSoapOut" />
    </operation>
    <operation name="GetMaxLength">
      <input message="s0:GetMaxLengthSoapIn" />
      <output message="s0:GetMaxLengthSoapOut" />
    </operation>
    <operation name="GetDefaultValue">
      <input message="s0:GetDefaultValueSoapIn" />
      <output message="s0:GetDefaultValueSoapOut" />
    </operation>
    <operation name="IsCalculated">
      <input message="s0:IsCalculatedSoapIn" />
      <output message="s0:IsCalculatedSoapOut" />
    </operation>
    <operation name="IsNullable">
      <input message="s0:IsNullableSoapIn" />
      <output message="s0:IsNullableSoapOut" />
    </operation>
    <operation name="GetFieldInfoStructure">
      <input message="s0:GetFieldInfoStructureSoapIn" />
      <output message="s0:GetFieldInfoStructureSoapOut" />
    </operation>
  </portType>
  <binding name="EventServiceSoap" type="s0:EventServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="LoadCombo">
      <soap:operation soapAction="http://www.Accuride.com/EventService/LoadCombo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateData">
      <soap:operation soapAction="http://www.Accuride.com/EventService/UpdateData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadData">
      <soap:operation soapAction="http://www.Accuride.com/EventService/LoadData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadEventsOfAGivenType">
      <soap:operation soapAction="http://www.Accuride.com/EventService/LoadEventsOfAGivenType" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetEventType">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetEventType" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CanProjectBeClosed">
      <soap:operation soapAction="http://www.Accuride.com/EventService/CanProjectBeClosed" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CanProjectBeRevised">
      <soap:operation soapAction="http://www.Accuride.com/EventService/CanProjectBeRevised" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetApplicableEventsForProject">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetApplicableEventsForProject" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsProjectMultiEventing">
      <soap:operation soapAction="http://www.Accuride.com/EventService/IsProjectMultiEventing" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AmITheRaiserOfAMultiEventProject">
      <soap:operation soapAction="http://www.Accuride.com/EventService/AmITheRaiserOfAMultiEventProject" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMultiEventingRaiser">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetMultiEventingRaiser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateMultiEvent">
      <soap:operation soapAction="http://www.Accuride.com/EventService/CreateMultiEvent" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReassignEvent">
      <soap:operation soapAction="http://www.Accuride.com/EventService/ReassignEvent" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetEvents">
      <soap:operation soapAction="http://www.Accuride.com/EventService/SetEvents" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetEventInfo">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetEventInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/EventService/SetDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ClearDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/EventService/ClearDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetServerName">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetServerName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabaseUserName">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetDatabaseUserName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabasePassword">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetDatabasePassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConnectionString">
      <soap:operation soapAction="http://www.Accuride.com/EventService/ConnectionString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLanguageString">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetLanguageString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPrimaryKeyColumns">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetPrimaryKeyColumns" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCalculatedText">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetCalculatedText" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMaxLength">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetMaxLength" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDefaultValue">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetDefaultValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsCalculated">
      <soap:operation soapAction="http://www.Accuride.com/EventService/IsCalculated" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsNullable">
      <soap:operation soapAction="http://www.Accuride.com/EventService/IsNullable" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFieldInfoStructure">
      <soap:operation soapAction="http://www.Accuride.com/EventService/GetFieldInfoStructure" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EventService">
    <port name="EventServiceSoap" binding="s0:EventServiceSoap">
      <soap:address location="http://uksql3/PITSService/EventService.asmx" />
    </port>
  </service>
</definitions>