Pitsservice/Web References/uksql3/PreSalesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.Accuride.com/PreSalesService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.Accuride.com/PreSalesService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Accuride.com/PreSalesService">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="LoadCombo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUniqueId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadComboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadComboResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Changes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pudtParams" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlannerDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlannerDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlannerDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplyTemplateSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintTemplateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintOwnerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintPreSalesId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplyTemplateSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ApplyTemplateSettingsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectPlanning">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectPlanningResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectPlanningResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanMileStoneBeDeleted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintPreSalesid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintMilestoneid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanMileStoneBeDeletedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanMileStoneBeDeletedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanMacroMileStoneBeDeleted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintPreSalesid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintMacroMilestoneid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanMacroMileStoneBeDeletedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanMacroMileStoneBeDeletedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanTeamMemberBeDeleted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintPreSalesid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintUserid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanTeamMemberBeDeletedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanTeamMemberBeDeletedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanTemplateBeApplied">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintPreSalesId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanTemplateBeAppliedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanTemplateBeAppliedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreSalesISOStandards">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintPreSalesId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreSalesISOStandardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPreSalesISOStandardsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateISOStandards">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ISOChanges">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateISOStandardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateISOStandardsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePreSalesISOStandards">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintPreSaleId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrStandardIDs" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintDelete" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePreSalesISOStandardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePreSalesISOStandardsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreSalesTemplates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreSalesTemplatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPreSalesTemplatesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectPlanningItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectPlanningItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectPlanningItemsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreSalesProjectTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintPreSalesId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bAllUsers" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreSalesProjectTeamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPreSalesProjectTeamResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePreSalesProjectItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="pintPreSalesId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePreSalesProjectItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePreSalesProjectItemsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreSalesId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreSalesIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPreSalesIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDatabaseName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DBName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDatabaseNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseName">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabaseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearDatabaseName">
        <s:complexType />
      </s:element>
      <s:element name="ClearDatabaseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearDatabaseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerName">
        <s:complexType />
      </s:element>
      <s:element name="GetServerNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatabaseUserName">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabaseUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatabasePassword">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabasePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabasePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="ConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="displayId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="accurideLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="uniqueId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLanguageStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrimaryKeyColumns">
        <s:complexType />
      </s:element>
      <s:element name="GetPrimaryKeyColumnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrimaryKeyColumnsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculatedText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculatedTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCalculatedTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxLengthResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultValueResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCalculated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCalculatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCalculatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNullable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNullableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsNullableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldInfoStructure">
        <s:complexType />
      </s:element>
      <s:element name="GetFieldInfoStructureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFieldInfoStructureResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="LoadComboSoapIn">
    <part name="parameters" element="s0:LoadCombo" />
  </message>
  <message name="LoadComboSoapOut">
    <part name="parameters" element="s0:LoadComboResponse" />
  </message>
  <message name="UpdateDataSoapIn">
    <part name="parameters" element="s0:UpdateData" />
  </message>
  <message name="UpdateDataSoapOut">
    <part name="parameters" element="s0:UpdateDataResponse" />
  </message>
  <message name="LoadDataSoapIn">
    <part name="parameters" element="s0:LoadData" />
  </message>
  <message name="LoadDataSoapOut">
    <part name="parameters" element="s0:LoadDataResponse" />
  </message>
  <message name="GetPlannerDetailsSoapIn">
    <part name="parameters" element="s0:GetPlannerDetails" />
  </message>
  <message name="GetPlannerDetailsSoapOut">
    <part name="parameters" element="s0:GetPlannerDetailsResponse" />
  </message>
  <message name="ApplyTemplateSettingsSoapIn">
    <part name="parameters" element="s0:ApplyTemplateSettings" />
  </message>
  <message name="ApplyTemplateSettingsSoapOut">
    <part name="parameters" element="s0:ApplyTemplateSettingsResponse" />
  </message>
  <message name="GetProjectPlanningSoapIn">
    <part name="parameters" element="s0:GetProjectPlanning" />
  </message>
  <message name="GetProjectPlanningSoapOut">
    <part name="parameters" element="s0:GetProjectPlanningResponse" />
  </message>
  <message name="CanMileStoneBeDeletedSoapIn">
    <part name="parameters" element="s0:CanMileStoneBeDeleted" />
  </message>
  <message name="CanMileStoneBeDeletedSoapOut">
    <part name="parameters" element="s0:CanMileStoneBeDeletedResponse" />
  </message>
  <message name="CanMacroMileStoneBeDeletedSoapIn">
    <part name="parameters" element="s0:CanMacroMileStoneBeDeleted" />
  </message>
  <message name="CanMacroMileStoneBeDeletedSoapOut">
    <part name="parameters" element="s0:CanMacroMileStoneBeDeletedResponse" />
  </message>
  <message name="CanTeamMemberBeDeletedSoapIn">
    <part name="parameters" element="s0:CanTeamMemberBeDeleted" />
  </message>
  <message name="CanTeamMemberBeDeletedSoapOut">
    <part name="parameters" element="s0:CanTeamMemberBeDeletedResponse" />
  </message>
  <message name="CanTemplateBeAppliedSoapIn">
    <part name="parameters" element="s0:CanTemplateBeApplied" />
  </message>
  <message name="CanTemplateBeAppliedSoapOut">
    <part name="parameters" element="s0:CanTemplateBeAppliedResponse" />
  </message>
  <message name="GetPreSalesISOStandardsSoapIn">
    <part name="parameters" element="s0:GetPreSalesISOStandards" />
  </message>
  <message name="GetPreSalesISOStandardsSoapOut">
    <part name="parameters" element="s0:GetPreSalesISOStandardsResponse" />
  </message>
  <message name="UpdateISOStandardsSoapIn">
    <part name="parameters" element="s0:UpdateISOStandards" />
  </message>
  <message name="UpdateISOStandardsSoapOut">
    <part name="parameters" element="s0:UpdateISOStandardsResponse" />
  </message>
  <message name="UpdatePreSalesISOStandardsSoapIn">
    <part name="parameters" element="s0:UpdatePreSalesISOStandards" />
  </message>
  <message name="UpdatePreSalesISOStandardsSoapOut">
    <part name="parameters" element="s0:UpdatePreSalesISOStandardsResponse" />
  </message>
  <message name="GetPreSalesTemplatesSoapIn">
    <part name="parameters" element="s0:GetPreSalesTemplates" />
  </message>
  <message name="GetPreSalesTemplatesSoapOut">
    <part name="parameters" element="s0:GetPreSalesTemplatesResponse" />
  </message>
  <message name="GetProjectPlanningItemsSoapIn">
    <part name="parameters" element="s0:GetProjectPlanningItems" />
  </message>
  <message name="GetProjectPlanningItemsSoapOut">
    <part name="parameters" element="s0:GetProjectPlanningItemsResponse" />
  </message>
  <message name="GetPreSalesProjectTeamSoapIn">
    <part name="parameters" element="s0:GetPreSalesProjectTeam" />
  </message>
  <message name="GetPreSalesProjectTeamSoapOut">
    <part name="parameters" element="s0:GetPreSalesProjectTeamResponse" />
  </message>
  <message name="UpdatePreSalesProjectItemsSoapIn">
    <part name="parameters" element="s0:UpdatePreSalesProjectItems" />
  </message>
  <message name="UpdatePreSalesProjectItemsSoapOut">
    <part name="parameters" element="s0:UpdatePreSalesProjectItemsResponse" />
  </message>
  <message name="GetPreSalesIdSoapIn">
    <part name="parameters" element="s0:GetPreSalesId" />
  </message>
  <message name="GetPreSalesIdSoapOut">
    <part name="parameters" element="s0:GetPreSalesIdResponse" />
  </message>
  <message name="SetDatabaseNameSoapIn">
    <part name="parameters" element="s0:SetDatabaseName" />
  </message>
  <message name="SetDatabaseNameSoapOut">
    <part name="parameters" element="s0:SetDatabaseNameResponse" />
  </message>
  <message name="GetDatabaseNameSoapIn">
    <part name="parameters" element="s0:GetDatabaseName" />
  </message>
  <message name="GetDatabaseNameSoapOut">
    <part name="parameters" element="s0:GetDatabaseNameResponse" />
  </message>
  <message name="ClearDatabaseNameSoapIn">
    <part name="parameters" element="s0:ClearDatabaseName" />
  </message>
  <message name="ClearDatabaseNameSoapOut">
    <part name="parameters" element="s0:ClearDatabaseNameResponse" />
  </message>
  <message name="GetServerNameSoapIn">
    <part name="parameters" element="s0:GetServerName" />
  </message>
  <message name="GetServerNameSoapOut">
    <part name="parameters" element="s0:GetServerNameResponse" />
  </message>
  <message name="GetDatabaseUserNameSoapIn">
    <part name="parameters" element="s0:GetDatabaseUserName" />
  </message>
  <message name="GetDatabaseUserNameSoapOut">
    <part name="parameters" element="s0:GetDatabaseUserNameResponse" />
  </message>
  <message name="GetDatabasePasswordSoapIn">
    <part name="parameters" element="s0:GetDatabasePassword" />
  </message>
  <message name="GetDatabasePasswordSoapOut">
    <part name="parameters" element="s0:GetDatabasePasswordResponse" />
  </message>
  <message name="ConnectionStringSoapIn">
    <part name="parameters" element="s0:ConnectionString" />
  </message>
  <message name="ConnectionStringSoapOut">
    <part name="parameters" element="s0:ConnectionStringResponse" />
  </message>
  <message name="GetLanguageStringSoapIn">
    <part name="parameters" element="s0:GetLanguageString" />
  </message>
  <message name="GetLanguageStringSoapOut">
    <part name="parameters" element="s0:GetLanguageStringResponse" />
  </message>
  <message name="GetPrimaryKeyColumnsSoapIn">
    <part name="parameters" element="s0:GetPrimaryKeyColumns" />
  </message>
  <message name="GetPrimaryKeyColumnsSoapOut">
    <part name="parameters" element="s0:GetPrimaryKeyColumnsResponse" />
  </message>
  <message name="GetCalculatedTextSoapIn">
    <part name="parameters" element="s0:GetCalculatedText" />
  </message>
  <message name="GetCalculatedTextSoapOut">
    <part name="parameters" element="s0:GetCalculatedTextResponse" />
  </message>
  <message name="GetMaxLengthSoapIn">
    <part name="parameters" element="s0:GetMaxLength" />
  </message>
  <message name="GetMaxLengthSoapOut">
    <part name="parameters" element="s0:GetMaxLengthResponse" />
  </message>
  <message name="GetDefaultValueSoapIn">
    <part name="parameters" element="s0:GetDefaultValue" />
  </message>
  <message name="GetDefaultValueSoapOut">
    <part name="parameters" element="s0:GetDefaultValueResponse" />
  </message>
  <message name="IsCalculatedSoapIn">
    <part name="parameters" element="s0:IsCalculated" />
  </message>
  <message name="IsCalculatedSoapOut">
    <part name="parameters" element="s0:IsCalculatedResponse" />
  </message>
  <message name="IsNullableSoapIn">
    <part name="parameters" element="s0:IsNullable" />
  </message>
  <message name="IsNullableSoapOut">
    <part name="parameters" element="s0:IsNullableResponse" />
  </message>
  <message name="GetFieldInfoStructureSoapIn">
    <part name="parameters" element="s0:GetFieldInfoStructure" />
  </message>
  <message name="GetFieldInfoStructureSoapOut">
    <part name="parameters" element="s0:GetFieldInfoStructureResponse" />
  </message>
  <portType name="PreSalesServiceSoap">
    <operation name="LoadCombo">
      <input message="s0:LoadComboSoapIn" />
      <output message="s0:LoadComboSoapOut" />
    </operation>
    <operation name="UpdateData">
      <input message="s0:UpdateDataSoapIn" />
      <output message="s0:UpdateDataSoapOut" />
    </operation>
    <operation name="LoadData">
      <input message="s0:LoadDataSoapIn" />
      <output message="s0:LoadDataSoapOut" />
    </operation>
    <operation name="GetPlannerDetails">
      <input message="s0:GetPlannerDetailsSoapIn" />
      <output message="s0:GetPlannerDetailsSoapOut" />
    </operation>
    <operation name="ApplyTemplateSettings">
      <input message="s0:ApplyTemplateSettingsSoapIn" />
      <output message="s0:ApplyTemplateSettingsSoapOut" />
    </operation>
    <operation name="GetProjectPlanning">
      <input message="s0:GetProjectPlanningSoapIn" />
      <output message="s0:GetProjectPlanningSoapOut" />
    </operation>
    <operation name="CanMileStoneBeDeleted">
      <input message="s0:CanMileStoneBeDeletedSoapIn" />
      <output message="s0:CanMileStoneBeDeletedSoapOut" />
    </operation>
    <operation name="CanMacroMileStoneBeDeleted">
      <input message="s0:CanMacroMileStoneBeDeletedSoapIn" />
      <output message="s0:CanMacroMileStoneBeDeletedSoapOut" />
    </operation>
    <operation name="CanTeamMemberBeDeleted">
      <input message="s0:CanTeamMemberBeDeletedSoapIn" />
      <output message="s0:CanTeamMemberBeDeletedSoapOut" />
    </operation>
    <operation name="CanTemplateBeApplied">
      <input message="s0:CanTemplateBeAppliedSoapIn" />
      <output message="s0:CanTemplateBeAppliedSoapOut" />
    </operation>
    <operation name="GetPreSalesISOStandards">
      <input message="s0:GetPreSalesISOStandardsSoapIn" />
      <output message="s0:GetPreSalesISOStandardsSoapOut" />
    </operation>
    <operation name="UpdateISOStandards">
      <input message="s0:UpdateISOStandardsSoapIn" />
      <output message="s0:UpdateISOStandardsSoapOut" />
    </operation>
    <operation name="UpdatePreSalesISOStandards">
      <input message="s0:UpdatePreSalesISOStandardsSoapIn" />
      <output message="s0:UpdatePreSalesISOStandardsSoapOut" />
    </operation>
    <operation name="GetPreSalesTemplates">
      <input message="s0:GetPreSalesTemplatesSoapIn" />
      <output message="s0:GetPreSalesTemplatesSoapOut" />
    </operation>
    <operation name="GetProjectPlanningItems">
      <input message="s0:GetProjectPlanningItemsSoapIn" />
      <output message="s0:GetProjectPlanningItemsSoapOut" />
    </operation>
    <operation name="GetPreSalesProjectTeam">
      <input message="s0:GetPreSalesProjectTeamSoapIn" />
      <output message="s0:GetPreSalesProjectTeamSoapOut" />
    </operation>
    <operation name="UpdatePreSalesProjectItems">
      <input message="s0:UpdatePreSalesProjectItemsSoapIn" />
      <output message="s0:UpdatePreSalesProjectItemsSoapOut" />
    </operation>
    <operation name="GetPreSalesId">
      <input message="s0:GetPreSalesIdSoapIn" />
      <output message="s0:GetPreSalesIdSoapOut" />
    </operation>
    <operation name="SetDatabaseName">
      <documentation>Assigns an alternative database to use.</documentation>
      <input message="s0:SetDatabaseNameSoapIn" />
      <output message="s0:SetDatabaseNameSoapOut" />
    </operation>
    <operation name="GetDatabaseName">
      <documentation>Retrieves the database.</documentation>
      <input message="s0:GetDatabaseNameSoapIn" />
      <output message="s0:GetDatabaseNameSoapOut" />
    </operation>
    <operation name="ClearDatabaseName">
      <documentation>Clears database for IP address of user.</documentation>
      <input message="s0:ClearDatabaseNameSoapIn" />
      <output message="s0:ClearDatabaseNameSoapOut" />
    </operation>
    <operation name="GetServerName">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetServerNameSoapIn" />
      <output message="s0:GetServerNameSoapOut" />
    </operation>
    <operation name="GetDatabaseUserName">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetDatabaseUserNameSoapIn" />
      <output message="s0:GetDatabaseUserNameSoapOut" />
    </operation>
    <operation name="GetDatabasePassword">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetDatabasePasswordSoapIn" />
      <output message="s0:GetDatabasePasswordSoapOut" />
    </operation>
    <operation name="ConnectionString">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:ConnectionStringSoapIn" />
      <output message="s0:ConnectionStringSoapOut" />
    </operation>
    <operation name="GetLanguageString">
      <input message="s0:GetLanguageStringSoapIn" />
      <output message="s0:GetLanguageStringSoapOut" />
    </operation>
    <operation name="GetPrimaryKeyColumns">
      <input message="s0:GetPrimaryKeyColumnsSoapIn" />
      <output message="s0:GetPrimaryKeyColumnsSoapOut" />
    </operation>
    <operation name="GetCalculatedText">
      <input message="s0:GetCalculatedTextSoapIn" />
      <output message="s0:GetCalculatedTextSoapOut" />
    </operation>
    <operation name="GetMaxLength">
      <input message="s0:GetMaxLengthSoapIn" />
      <output message="s0:GetMaxLengthSoapOut" />
    </operation>
    <operation name="GetDefaultValue">
      <input message="s0:GetDefaultValueSoapIn" />
      <output message="s0:GetDefaultValueSoapOut" />
    </operation>
    <operation name="IsCalculated">
      <input message="s0:IsCalculatedSoapIn" />
      <output message="s0:IsCalculatedSoapOut" />
    </operation>
    <operation name="IsNullable">
      <input message="s0:IsNullableSoapIn" />
      <output message="s0:IsNullableSoapOut" />
    </operation>
    <operation name="GetFieldInfoStructure">
      <input message="s0:GetFieldInfoStructureSoapIn" />
      <output message="s0:GetFieldInfoStructureSoapOut" />
    </operation>
  </portType>
  <binding name="PreSalesServiceSoap" type="s0:PreSalesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="LoadCombo">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/LoadCombo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateData">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/UpdateData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadData">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/LoadData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPlannerDetails">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetPlannerDetails" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ApplyTemplateSettings">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/ApplyTemplateSettings" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProjectPlanning">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetProjectPlanning" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CanMileStoneBeDeleted">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/CanMileStoneBeDeleted" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CanMacroMileStoneBeDeleted">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/CanMacroMileStoneBeDeleted" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CanTeamMemberBeDeleted">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/CanTeamMemberBeDeleted" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CanTemplateBeApplied">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/CanTemplateBeApplied" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPreSalesISOStandards">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetPreSalesISOStandards" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateISOStandards">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/UpdateISOStandards" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdatePreSalesISOStandards">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/UpdatePreSalesISOStandards" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPreSalesTemplates">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetPreSalesTemplates" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProjectPlanningItems">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetProjectPlanningItems" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPreSalesProjectTeam">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetPreSalesProjectTeam" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdatePreSalesProjectItems">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/UpdatePreSalesProjectItems" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPreSalesId">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetPreSalesId" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/SetDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ClearDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/ClearDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetServerName">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetServerName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabaseUserName">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetDatabaseUserName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabasePassword">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetDatabasePassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConnectionString">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/ConnectionString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLanguageString">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetLanguageString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPrimaryKeyColumns">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetPrimaryKeyColumns" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCalculatedText">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetCalculatedText" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMaxLength">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetMaxLength" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDefaultValue">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetDefaultValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsCalculated">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/IsCalculated" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsNullable">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/IsNullable" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFieldInfoStructure">
      <soap:operation soapAction="http://www.Accuride.com/PreSalesService/GetFieldInfoStructure" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PreSalesService">
    <port name="PreSalesServiceSoap" binding="s0:PreSalesServiceSoap">
      <soap:address location="http://uksql3/PITSService/PreSalesService.asmx" />
    </port>
  </service>
</definitions>