Pitsservice/Web References/uksql3/ProjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.Accuride.com/ProjectService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.Accuride.com/ProjectService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Accuride.com/ProjectService">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="LoadCombo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUniqueId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadComboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadComboResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Changes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pudtParams" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test">
        <s:complexType />
      </s:element>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjNumbers">
        <s:complexType />
      </s:element>
      <s:element name="GetProjNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjNumbersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjStage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjStageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjStageResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesExcelData_Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pblnGetMileStones" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesExcelData_TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesExcelData_TestResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesExcelData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pblnGetMileStones" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesExcelDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesExcelDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectContactsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectRevisions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectRevisionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectRevisionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectOwners">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectOwnersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectOwnersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsProjectInEngineering">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsProjectInEngineeringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsProjectInEngineeringResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsInitiationFormComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsInitiationFormCompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsInitiationFormCompleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserInEngineering">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserInEngineeringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsUserInEngineeringResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectIdFromNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectIdFromNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetProjectIdFromNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDatabaseName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DBName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDatabaseNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseName">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabaseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearDatabaseName">
        <s:complexType />
      </s:element>
      <s:element name="ClearDatabaseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearDatabaseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerName">
        <s:complexType />
      </s:element>
      <s:element name="GetServerNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatabaseUserName">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabaseUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatabasePassword">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabasePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabasePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="ConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="displayId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="accurideLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="uniqueId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLanguageStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrimaryKeyColumns">
        <s:complexType />
      </s:element>
      <s:element name="GetPrimaryKeyColumnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrimaryKeyColumnsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculatedText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculatedTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCalculatedTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxLengthResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultValueResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCalculated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCalculatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCalculatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNullable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNullableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsNullableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldInfoStructure">
        <s:complexType />
      </s:element>
      <s:element name="GetFieldInfoStructureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFieldInfoStructureResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="LoadComboSoapIn">
    <part name="parameters" element="s0:LoadCombo" />
  </message>
  <message name="LoadComboSoapOut">
    <part name="parameters" element="s0:LoadComboResponse" />
  </message>
  <message name="UpdateDataSoapIn">
    <part name="parameters" element="s0:UpdateData" />
  </message>
  <message name="UpdateDataSoapOut">
    <part name="parameters" element="s0:UpdateDataResponse" />
  </message>
  <message name="LoadDataSoapIn">
    <part name="parameters" element="s0:LoadData" />
  </message>
  <message name="LoadDataSoapOut">
    <part name="parameters" element="s0:LoadDataResponse" />
  </message>
  <message name="testSoapIn">
    <part name="parameters" element="s0:test" />
  </message>
  <message name="testSoapOut">
    <part name="parameters" element="s0:testResponse" />
  </message>
  <message name="GetProjNumbersSoapIn">
    <part name="parameters" element="s0:GetProjNumbers" />
  </message>
  <message name="GetProjNumbersSoapOut">
    <part name="parameters" element="s0:GetProjNumbersResponse" />
  </message>
  <message name="GetProjStageSoapIn">
    <part name="parameters" element="s0:GetProjStage" />
  </message>
  <message name="GetProjStageSoapOut">
    <part name="parameters" element="s0:GetProjStageResponse" />
  </message>
  <message name="GetSalesExcelData_TestSoapIn">
    <part name="parameters" element="s0:GetSalesExcelData_Test" />
  </message>
  <message name="GetSalesExcelData_TestSoapOut">
    <part name="parameters" element="s0:GetSalesExcelData_TestResponse" />
  </message>
  <message name="GetSalesExcelDataSoapIn">
    <part name="parameters" element="s0:GetSalesExcelData" />
  </message>
  <message name="GetSalesExcelDataSoapOut">
    <part name="parameters" element="s0:GetSalesExcelDataResponse" />
  </message>
  <message name="GetProjectContactsSoapIn">
    <part name="parameters" element="s0:GetProjectContacts" />
  </message>
  <message name="GetProjectContactsSoapOut">
    <part name="parameters" element="s0:GetProjectContactsResponse" />
  </message>
  <message name="GetProjectRevisionsSoapIn">
    <part name="parameters" element="s0:GetProjectRevisions" />
  </message>
  <message name="GetProjectRevisionsSoapOut">
    <part name="parameters" element="s0:GetProjectRevisionsResponse" />
  </message>
  <message name="GetProjectOwnersSoapIn">
    <part name="parameters" element="s0:GetProjectOwners" />
  </message>
  <message name="GetProjectOwnersSoapOut">
    <part name="parameters" element="s0:GetProjectOwnersResponse" />
  </message>
  <message name="IsProjectInEngineeringSoapIn">
    <part name="parameters" element="s0:IsProjectInEngineering" />
  </message>
  <message name="IsProjectInEngineeringSoapOut">
    <part name="parameters" element="s0:IsProjectInEngineeringResponse" />
  </message>
  <message name="IsInitiationFormCompleteSoapIn">
    <part name="parameters" element="s0:IsInitiationFormComplete" />
  </message>
  <message name="IsInitiationFormCompleteSoapOut">
    <part name="parameters" element="s0:IsInitiationFormCompleteResponse" />
  </message>
  <message name="IsUserInEngineeringSoapIn">
    <part name="parameters" element="s0:IsUserInEngineering" />
  </message>
  <message name="IsUserInEngineeringSoapOut">
    <part name="parameters" element="s0:IsUserInEngineeringResponse" />
  </message>
  <message name="GetProjectIdFromNumberSoapIn">
    <part name="parameters" element="s0:GetProjectIdFromNumber" />
  </message>
  <message name="GetProjectIdFromNumberSoapOut">
    <part name="parameters" element="s0:GetProjectIdFromNumberResponse" />
  </message>
  <message name="SetDatabaseNameSoapIn">
    <part name="parameters" element="s0:SetDatabaseName" />
  </message>
  <message name="SetDatabaseNameSoapOut">
    <part name="parameters" element="s0:SetDatabaseNameResponse" />
  </message>
  <message name="GetDatabaseNameSoapIn">
    <part name="parameters" element="s0:GetDatabaseName" />
  </message>
  <message name="GetDatabaseNameSoapOut">
    <part name="parameters" element="s0:GetDatabaseNameResponse" />
  </message>
  <message name="ClearDatabaseNameSoapIn">
    <part name="parameters" element="s0:ClearDatabaseName" />
  </message>
  <message name="ClearDatabaseNameSoapOut">
    <part name="parameters" element="s0:ClearDatabaseNameResponse" />
  </message>
  <message name="GetServerNameSoapIn">
    <part name="parameters" element="s0:GetServerName" />
  </message>
  <message name="GetServerNameSoapOut">
    <part name="parameters" element="s0:GetServerNameResponse" />
  </message>
  <message name="GetDatabaseUserNameSoapIn">
    <part name="parameters" element="s0:GetDatabaseUserName" />
  </message>
  <message name="GetDatabaseUserNameSoapOut">
    <part name="parameters" element="s0:GetDatabaseUserNameResponse" />
  </message>
  <message name="GetDatabasePasswordSoapIn">
    <part name="parameters" element="s0:GetDatabasePassword" />
  </message>
  <message name="GetDatabasePasswordSoapOut">
    <part name="parameters" element="s0:GetDatabasePasswordResponse" />
  </message>
  <message name="ConnectionStringSoapIn">
    <part name="parameters" element="s0:ConnectionString" />
  </message>
  <message name="ConnectionStringSoapOut">
    <part name="parameters" element="s0:ConnectionStringResponse" />
  </message>
  <message name="GetLanguageStringSoapIn">
    <part name="parameters" element="s0:GetLanguageString" />
  </message>
  <message name="GetLanguageStringSoapOut">
    <part name="parameters" element="s0:GetLanguageStringResponse" />
  </message>
  <message name="GetPrimaryKeyColumnsSoapIn">
    <part name="parameters" element="s0:GetPrimaryKeyColumns" />
  </message>
  <message name="GetPrimaryKeyColumnsSoapOut">
    <part name="parameters" element="s0:GetPrimaryKeyColumnsResponse" />
  </message>
  <message name="GetCalculatedTextSoapIn">
    <part name="parameters" element="s0:GetCalculatedText" />
  </message>
  <message name="GetCalculatedTextSoapOut">
    <part name="parameters" element="s0:GetCalculatedTextResponse" />
  </message>
  <message name="GetMaxLengthSoapIn">
    <part name="parameters" element="s0:GetMaxLength" />
  </message>
  <message name="GetMaxLengthSoapOut">
    <part name="parameters" element="s0:GetMaxLengthResponse" />
  </message>
  <message name="GetDefaultValueSoapIn">
    <part name="parameters" element="s0:GetDefaultValue" />
  </message>
  <message name="GetDefaultValueSoapOut">
    <part name="parameters" element="s0:GetDefaultValueResponse" />
  </message>
  <message name="IsCalculatedSoapIn">
    <part name="parameters" element="s0:IsCalculated" />
  </message>
  <message name="IsCalculatedSoapOut">
    <part name="parameters" element="s0:IsCalculatedResponse" />
  </message>
  <message name="IsNullableSoapIn">
    <part name="parameters" element="s0:IsNullable" />
  </message>
  <message name="IsNullableSoapOut">
    <part name="parameters" element="s0:IsNullableResponse" />
  </message>
  <message name="GetFieldInfoStructureSoapIn">
    <part name="parameters" element="s0:GetFieldInfoStructure" />
  </message>
  <message name="GetFieldInfoStructureSoapOut">
    <part name="parameters" element="s0:GetFieldInfoStructureResponse" />
  </message>
  <portType name="ProjectServiceSoap">
    <operation name="LoadCombo">
      <input message="s0:LoadComboSoapIn" />
      <output message="s0:LoadComboSoapOut" />
    </operation>
    <operation name="UpdateData">
      <input message="s0:UpdateDataSoapIn" />
      <output message="s0:UpdateDataSoapOut" />
    </operation>
    <operation name="LoadData">
      <input message="s0:LoadDataSoapIn" />
      <output message="s0:LoadDataSoapOut" />
    </operation>
    <operation name="test">
      <input message="s0:testSoapIn" />
      <output message="s0:testSoapOut" />
    </operation>
    <operation name="GetProjNumbers">
      <input message="s0:GetProjNumbersSoapIn" />
      <output message="s0:GetProjNumbersSoapOut" />
    </operation>
    <operation name="GetProjStage">
      <input message="s0:GetProjStageSoapIn" />
      <output message="s0:GetProjStageSoapOut" />
    </operation>
    <operation name="GetSalesExcelData_Test">
      <input message="s0:GetSalesExcelData_TestSoapIn" />
      <output message="s0:GetSalesExcelData_TestSoapOut" />
    </operation>
    <operation name="GetSalesExcelData">
      <input message="s0:GetSalesExcelDataSoapIn" />
      <output message="s0:GetSalesExcelDataSoapOut" />
    </operation>
    <operation name="GetProjectContacts">
      <input message="s0:GetProjectContactsSoapIn" />
      <output message="s0:GetProjectContactsSoapOut" />
    </operation>
    <operation name="GetProjectRevisions">
      <input message="s0:GetProjectRevisionsSoapIn" />
      <output message="s0:GetProjectRevisionsSoapOut" />
    </operation>
    <operation name="GetProjectOwners">
      <input message="s0:GetProjectOwnersSoapIn" />
      <output message="s0:GetProjectOwnersSoapOut" />
    </operation>
    <operation name="IsProjectInEngineering">
      <input message="s0:IsProjectInEngineeringSoapIn" />
      <output message="s0:IsProjectInEngineeringSoapOut" />
    </operation>
    <operation name="IsInitiationFormComplete">
      <input message="s0:IsInitiationFormCompleteSoapIn" />
      <output message="s0:IsInitiationFormCompleteSoapOut" />
    </operation>
    <operation name="IsUserInEngineering">
      <input message="s0:IsUserInEngineeringSoapIn" />
      <output message="s0:IsUserInEngineeringSoapOut" />
    </operation>
    <operation name="GetProjectIdFromNumber">
      <input message="s0:GetProjectIdFromNumberSoapIn" />
      <output message="s0:GetProjectIdFromNumberSoapOut" />
    </operation>
    <operation name="SetDatabaseName">
      <documentation>Assigns an alternative database to use.</documentation>
      <input message="s0:SetDatabaseNameSoapIn" />
      <output message="s0:SetDatabaseNameSoapOut" />
    </operation>
    <operation name="GetDatabaseName">
      <documentation>Retrieves the database.</documentation>
      <input message="s0:GetDatabaseNameSoapIn" />
      <output message="s0:GetDatabaseNameSoapOut" />
    </operation>
    <operation name="ClearDatabaseName">
      <documentation>Clears database for IP address of user.</documentation>
      <input message="s0:ClearDatabaseNameSoapIn" />
      <output message="s0:ClearDatabaseNameSoapOut" />
    </operation>
    <operation name="GetServerName">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetServerNameSoapIn" />
      <output message="s0:GetServerNameSoapOut" />
    </operation>
    <operation name="GetDatabaseUserName">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetDatabaseUserNameSoapIn" />
      <output message="s0:GetDatabaseUserNameSoapOut" />
    </operation>
    <operation name="GetDatabasePassword">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetDatabasePasswordSoapIn" />
      <output message="s0:GetDatabasePasswordSoapOut" />
    </operation>
    <operation name="ConnectionString">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:ConnectionStringSoapIn" />
      <output message="s0:ConnectionStringSoapOut" />
    </operation>
    <operation name="GetLanguageString">
      <input message="s0:GetLanguageStringSoapIn" />
      <output message="s0:GetLanguageStringSoapOut" />
    </operation>
    <operation name="GetPrimaryKeyColumns">
      <input message="s0:GetPrimaryKeyColumnsSoapIn" />
      <output message="s0:GetPrimaryKeyColumnsSoapOut" />
    </operation>
    <operation name="GetCalculatedText">
      <input message="s0:GetCalculatedTextSoapIn" />
      <output message="s0:GetCalculatedTextSoapOut" />
    </operation>
    <operation name="GetMaxLength">
      <input message="s0:GetMaxLengthSoapIn" />
      <output message="s0:GetMaxLengthSoapOut" />
    </operation>
    <operation name="GetDefaultValue">
      <input message="s0:GetDefaultValueSoapIn" />
      <output message="s0:GetDefaultValueSoapOut" />
    </operation>
    <operation name="IsCalculated">
      <input message="s0:IsCalculatedSoapIn" />
      <output message="s0:IsCalculatedSoapOut" />
    </operation>
    <operation name="IsNullable">
      <input message="s0:IsNullableSoapIn" />
      <output message="s0:IsNullableSoapOut" />
    </operation>
    <operation name="GetFieldInfoStructure">
      <input message="s0:GetFieldInfoStructureSoapIn" />
      <output message="s0:GetFieldInfoStructureSoapOut" />
    </operation>
  </portType>
  <binding name="ProjectServiceSoap" type="s0:ProjectServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="LoadCombo">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/LoadCombo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateData">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/UpdateData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadData">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/LoadData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="test">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/test" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProjNumbers">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetProjNumbers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProjStage">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetProjStage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSalesExcelData_Test">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetSalesExcelData_Test" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSalesExcelData">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetSalesExcelData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProjectContacts">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetProjectContacts" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProjectRevisions">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetProjectRevisions" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProjectOwners">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetProjectOwners" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsProjectInEngineering">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/IsProjectInEngineering" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsInitiationFormComplete">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/IsInitiationFormComplete" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsUserInEngineering">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/IsUserInEngineering" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProjectIdFromNumber">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetProjectIdFromNumber" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/SetDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ClearDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/ClearDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetServerName">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetServerName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabaseUserName">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetDatabaseUserName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabasePassword">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetDatabasePassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConnectionString">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/ConnectionString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLanguageString">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetLanguageString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPrimaryKeyColumns">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetPrimaryKeyColumns" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCalculatedText">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetCalculatedText" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMaxLength">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetMaxLength" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDefaultValue">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetDefaultValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsCalculated">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/IsCalculated" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsNullable">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/IsNullable" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFieldInfoStructure">
      <soap:operation soapAction="http://www.Accuride.com/ProjectService/GetFieldInfoStructure" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProjectService">
    <port name="ProjectServiceSoap" binding="s0:ProjectServiceSoap">
      <soap:address location="http://uksql3/PITSService/ProjectService.asmx" />
    </port>
  </service>
</definitions>