Pitsservice/Web References/uksql3/SlideService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.Accuride.com/SlideService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.Accuride.com/SlideService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Accuride.com/SlideService">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="LoadCombo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUniqueId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadComboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadComboResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Changes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pudtParams" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDatabaseName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DBName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDatabaseNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseName">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabaseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearDatabaseName">
        <s:complexType />
      </s:element>
      <s:element name="ClearDatabaseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearDatabaseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerName">
        <s:complexType />
      </s:element>
      <s:element name="GetServerNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatabaseUserName">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabaseUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatabasePassword">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabasePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabasePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="ConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="displayId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="accurideLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="uniqueId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLanguageStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrimaryKeyColumns">
        <s:complexType />
      </s:element>
      <s:element name="GetPrimaryKeyColumnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrimaryKeyColumnsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculatedText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculatedTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCalculatedTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxLengthResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultValueResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCalculated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCalculatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCalculatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNullable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNullableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsNullableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldInfoStructure">
        <s:complexType />
      </s:element>
      <s:element name="GetFieldInfoStructureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFieldInfoStructureResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="LoadComboSoapIn">
    <part name="parameters" element="s0:LoadCombo" />
  </message>
  <message name="LoadComboSoapOut">
    <part name="parameters" element="s0:LoadComboResponse" />
  </message>
  <message name="UpdateDataSoapIn">
    <part name="parameters" element="s0:UpdateData" />
  </message>
  <message name="UpdateDataSoapOut">
    <part name="parameters" element="s0:UpdateDataResponse" />
  </message>
  <message name="LoadDataSoapIn">
    <part name="parameters" element="s0:LoadData" />
  </message>
  <message name="LoadDataSoapOut">
    <part name="parameters" element="s0:LoadDataResponse" />
  </message>
  <message name="SetDatabaseNameSoapIn">
    <part name="parameters" element="s0:SetDatabaseName" />
  </message>
  <message name="SetDatabaseNameSoapOut">
    <part name="parameters" element="s0:SetDatabaseNameResponse" />
  </message>
  <message name="GetDatabaseNameSoapIn">
    <part name="parameters" element="s0:GetDatabaseName" />
  </message>
  <message name="GetDatabaseNameSoapOut">
    <part name="parameters" element="s0:GetDatabaseNameResponse" />
  </message>
  <message name="ClearDatabaseNameSoapIn">
    <part name="parameters" element="s0:ClearDatabaseName" />
  </message>
  <message name="ClearDatabaseNameSoapOut">
    <part name="parameters" element="s0:ClearDatabaseNameResponse" />
  </message>
  <message name="GetServerNameSoapIn">
    <part name="parameters" element="s0:GetServerName" />
  </message>
  <message name="GetServerNameSoapOut">
    <part name="parameters" element="s0:GetServerNameResponse" />
  </message>
  <message name="GetDatabaseUserNameSoapIn">
    <part name="parameters" element="s0:GetDatabaseUserName" />
  </message>
  <message name="GetDatabaseUserNameSoapOut">
    <part name="parameters" element="s0:GetDatabaseUserNameResponse" />
  </message>
  <message name="GetDatabasePasswordSoapIn">
    <part name="parameters" element="s0:GetDatabasePassword" />
  </message>
  <message name="GetDatabasePasswordSoapOut">
    <part name="parameters" element="s0:GetDatabasePasswordResponse" />
  </message>
  <message name="ConnectionStringSoapIn">
    <part name="parameters" element="s0:ConnectionString" />
  </message>
  <message name="ConnectionStringSoapOut">
    <part name="parameters" element="s0:ConnectionStringResponse" />
  </message>
  <message name="GetLanguageStringSoapIn">
    <part name="parameters" element="s0:GetLanguageString" />
  </message>
  <message name="GetLanguageStringSoapOut">
    <part name="parameters" element="s0:GetLanguageStringResponse" />
  </message>
  <message name="GetPrimaryKeyColumnsSoapIn">
    <part name="parameters" element="s0:GetPrimaryKeyColumns" />
  </message>
  <message name="GetPrimaryKeyColumnsSoapOut">
    <part name="parameters" element="s0:GetPrimaryKeyColumnsResponse" />
  </message>
  <message name="GetCalculatedTextSoapIn">
    <part name="parameters" element="s0:GetCalculatedText" />
  </message>
  <message name="GetCalculatedTextSoapOut">
    <part name="parameters" element="s0:GetCalculatedTextResponse" />
  </message>
  <message name="GetMaxLengthSoapIn">
    <part name="parameters" element="s0:GetMaxLength" />
  </message>
  <message name="GetMaxLengthSoapOut">
    <part name="parameters" element="s0:GetMaxLengthResponse" />
  </message>
  <message name="GetDefaultValueSoapIn">
    <part name="parameters" element="s0:GetDefaultValue" />
  </message>
  <message name="GetDefaultValueSoapOut">
    <part name="parameters" element="s0:GetDefaultValueResponse" />
  </message>
  <message name="IsCalculatedSoapIn">
    <part name="parameters" element="s0:IsCalculated" />
  </message>
  <message name="IsCalculatedSoapOut">
    <part name="parameters" element="s0:IsCalculatedResponse" />
  </message>
  <message name="IsNullableSoapIn">
    <part name="parameters" element="s0:IsNullable" />
  </message>
  <message name="IsNullableSoapOut">
    <part name="parameters" element="s0:IsNullableResponse" />
  </message>
  <message name="GetFieldInfoStructureSoapIn">
    <part name="parameters" element="s0:GetFieldInfoStructure" />
  </message>
  <message name="GetFieldInfoStructureSoapOut">
    <part name="parameters" element="s0:GetFieldInfoStructureResponse" />
  </message>
  <portType name="SlideServiceSoap">
    <operation name="LoadCombo">
      <input message="s0:LoadComboSoapIn" />
      <output message="s0:LoadComboSoapOut" />
    </operation>
    <operation name="UpdateData">
      <input message="s0:UpdateDataSoapIn" />
      <output message="s0:UpdateDataSoapOut" />
    </operation>
    <operation name="LoadData">
      <input message="s0:LoadDataSoapIn" />
      <output message="s0:LoadDataSoapOut" />
    </operation>
    <operation name="SetDatabaseName">
      <documentation>Assigns an alternative database to use.</documentation>
      <input message="s0:SetDatabaseNameSoapIn" />
      <output message="s0:SetDatabaseNameSoapOut" />
    </operation>
    <operation name="GetDatabaseName">
      <documentation>Retrieves the database.</documentation>
      <input message="s0:GetDatabaseNameSoapIn" />
      <output message="s0:GetDatabaseNameSoapOut" />
    </operation>
    <operation name="ClearDatabaseName">
      <documentation>Clears database for IP address of user.</documentation>
      <input message="s0:ClearDatabaseNameSoapIn" />
      <output message="s0:ClearDatabaseNameSoapOut" />
    </operation>
    <operation name="GetServerName">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetServerNameSoapIn" />
      <output message="s0:GetServerNameSoapOut" />
    </operation>
    <operation name="GetDatabaseUserName">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetDatabaseUserNameSoapIn" />
      <output message="s0:GetDatabaseUserNameSoapOut" />
    </operation>
    <operation name="GetDatabasePassword">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetDatabasePasswordSoapIn" />
      <output message="s0:GetDatabasePasswordSoapOut" />
    </operation>
    <operation name="ConnectionString">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:ConnectionStringSoapIn" />
      <output message="s0:ConnectionStringSoapOut" />
    </operation>
    <operation name="GetLanguageString">
      <input message="s0:GetLanguageStringSoapIn" />
      <output message="s0:GetLanguageStringSoapOut" />
    </operation>
    <operation name="GetPrimaryKeyColumns">
      <input message="s0:GetPrimaryKeyColumnsSoapIn" />
      <output message="s0:GetPrimaryKeyColumnsSoapOut" />
    </operation>
    <operation name="GetCalculatedText">
      <input message="s0:GetCalculatedTextSoapIn" />
      <output message="s0:GetCalculatedTextSoapOut" />
    </operation>
    <operation name="GetMaxLength">
      <input message="s0:GetMaxLengthSoapIn" />
      <output message="s0:GetMaxLengthSoapOut" />
    </operation>
    <operation name="GetDefaultValue">
      <input message="s0:GetDefaultValueSoapIn" />
      <output message="s0:GetDefaultValueSoapOut" />
    </operation>
    <operation name="IsCalculated">
      <input message="s0:IsCalculatedSoapIn" />
      <output message="s0:IsCalculatedSoapOut" />
    </operation>
    <operation name="IsNullable">
      <input message="s0:IsNullableSoapIn" />
      <output message="s0:IsNullableSoapOut" />
    </operation>
    <operation name="GetFieldInfoStructure">
      <input message="s0:GetFieldInfoStructureSoapIn" />
      <output message="s0:GetFieldInfoStructureSoapOut" />
    </operation>
  </portType>
  <binding name="SlideServiceSoap" type="s0:SlideServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="LoadCombo">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/LoadCombo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateData">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/UpdateData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadData">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/LoadData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/SetDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/GetDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ClearDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/ClearDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetServerName">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/GetServerName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabaseUserName">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/GetDatabaseUserName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabasePassword">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/GetDatabasePassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConnectionString">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/ConnectionString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLanguageString">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/GetLanguageString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPrimaryKeyColumns">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/GetPrimaryKeyColumns" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCalculatedText">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/GetCalculatedText" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMaxLength">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/GetMaxLength" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDefaultValue">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/GetDefaultValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsCalculated">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/IsCalculated" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsNullable">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/IsNullable" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFieldInfoStructure">
      <soap:operation soapAction="http://www.Accuride.com/SlideService/GetFieldInfoStructure" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SlideService">
    <port name="SlideServiceSoap" binding="s0:SlideServiceSoap">
      <soap:address location="http://uksql3/PITSService/SlideService.asmx" />
    </port>
  </service>
</definitions>