Pitsservice/Web References/uksql3/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.Accuride.com/UserService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.Accuride.com/UserService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Accuride.com/UserService">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="LoadCombo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUniqueId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadComboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadComboResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Changes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pudtParams" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesManagers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesManagersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesManagersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadNewOwnersCombo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadNewOwnersComboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadNewOwnersComboResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadProjectTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="accurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadProjectTeamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadProjectTeamResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadUsersForEventsCombo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintStageRuleId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadUsersForEventsComboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadUsersForEventsComboResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDirectors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintAccurideLocationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDirectorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDirectorsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserSettingsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pudtUserSettingDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserSettingsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleUserDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleUserDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSingleUserDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanUserModifyThisEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanUserModifyThisEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanUserModifyThisEventResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserRights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrOriginal_Value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserRightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserRightsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRights2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRights2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserRights2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserRightsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartUpApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCulture" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="StartUpAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartUpAppResult" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDatabaseName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DBName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDatabaseNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseName">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabaseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearDatabaseName">
        <s:complexType />
      </s:element>
      <s:element name="ClearDatabaseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearDatabaseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerName">
        <s:complexType />
      </s:element>
      <s:element name="GetServerNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatabaseUserName">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabaseUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabaseUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatabasePassword">
        <s:complexType />
      </s:element>
      <s:element name="GetDatabasePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatabasePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="ConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="displayId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="accurideLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="uniqueId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLanguageStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrimaryKeyColumns">
        <s:complexType />
      </s:element>
      <s:element name="GetPrimaryKeyColumnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrimaryKeyColumnsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculatedText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculatedTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCalculatedTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxLengthResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultValueResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCalculated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCalculatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCalculatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNullable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNullableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsNullableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldInfoStructure">
        <s:complexType />
      </s:element>
      <s:element name="GetFieldInfoStructureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFieldInfoStructureResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="LoadComboSoapIn">
    <part name="parameters" element="s0:LoadCombo" />
  </message>
  <message name="LoadComboSoapOut">
    <part name="parameters" element="s0:LoadComboResponse" />
  </message>
  <message name="UpdateDataSoapIn">
    <part name="parameters" element="s0:UpdateData" />
  </message>
  <message name="UpdateDataSoapOut">
    <part name="parameters" element="s0:UpdateDataResponse" />
  </message>
  <message name="LoadDataSoapIn">
    <part name="parameters" element="s0:LoadData" />
  </message>
  <message name="LoadDataSoapOut">
    <part name="parameters" element="s0:LoadDataResponse" />
  </message>
  <message name="GetSalesManagersSoapIn">
    <part name="parameters" element="s0:GetSalesManagers" />
  </message>
  <message name="GetSalesManagersSoapOut">
    <part name="parameters" element="s0:GetSalesManagersResponse" />
  </message>
  <message name="LoadNewOwnersComboSoapIn">
    <part name="parameters" element="s0:LoadNewOwnersCombo" />
  </message>
  <message name="LoadNewOwnersComboSoapOut">
    <part name="parameters" element="s0:LoadNewOwnersComboResponse" />
  </message>
  <message name="LoadProjectTeamSoapIn">
    <part name="parameters" element="s0:LoadProjectTeam" />
  </message>
  <message name="LoadProjectTeamSoapOut">
    <part name="parameters" element="s0:LoadProjectTeamResponse" />
  </message>
  <message name="LoadUsersForEventsComboSoapIn">
    <part name="parameters" element="s0:LoadUsersForEventsCombo" />
  </message>
  <message name="LoadUsersForEventsComboSoapOut">
    <part name="parameters" element="s0:LoadUsersForEventsComboResponse" />
  </message>
  <message name="GetDirectorsSoapIn">
    <part name="parameters" element="s0:GetDirectors" />
  </message>
  <message name="GetDirectorsSoapOut">
    <part name="parameters" element="s0:GetDirectorsResponse" />
  </message>
  <message name="GetUserSettingsSoapIn">
    <part name="parameters" element="s0:GetUserSettings" />
  </message>
  <message name="GetUserSettingsSoapOut">
    <part name="parameters" element="s0:GetUserSettingsResponse" />
  </message>
  <message name="UpdateUserSettingsSoapIn">
    <part name="parameters" element="s0:UpdateUserSettings" />
  </message>
  <message name="UpdateUserSettingsSoapOut">
    <part name="parameters" element="s0:UpdateUserSettingsResponse" />
  </message>
  <message name="GetUserIdSoapIn">
    <part name="parameters" element="s0:GetUserId" />
  </message>
  <message name="GetUserIdSoapOut">
    <part name="parameters" element="s0:GetUserIdResponse" />
  </message>
  <message name="GetSingleUserDescriptionSoapIn">
    <part name="parameters" element="s0:GetSingleUserDescription" />
  </message>
  <message name="GetSingleUserDescriptionSoapOut">
    <part name="parameters" element="s0:GetSingleUserDescriptionResponse" />
  </message>
  <message name="CanUserModifyThisEventSoapIn">
    <part name="parameters" element="s0:CanUserModifyThisEvent" />
  </message>
  <message name="CanUserModifyThisEventSoapOut">
    <part name="parameters" element="s0:CanUserModifyThisEventResponse" />
  </message>
  <message name="UpdateUserRightsSoapIn">
    <part name="parameters" element="s0:UpdateUserRights" />
  </message>
  <message name="UpdateUserRightsSoapOut">
    <part name="parameters" element="s0:UpdateUserRightsResponse" />
  </message>
  <message name="GetUserRights2SoapIn">
    <part name="parameters" element="s0:GetUserRights2" />
  </message>
  <message name="GetUserRights2SoapOut">
    <part name="parameters" element="s0:GetUserRights2Response" />
  </message>
  <message name="GetUserRightsSoapIn">
    <part name="parameters" element="s0:GetUserRights" />
  </message>
  <message name="GetUserRightsSoapOut">
    <part name="parameters" element="s0:GetUserRightsResponse" />
  </message>
  <message name="StartUpAppSoapIn">
    <part name="parameters" element="s0:StartUpApp" />
  </message>
  <message name="StartUpAppSoapOut">
    <part name="parameters" element="s0:StartUpAppResponse" />
  </message>
  <message name="SetDatabaseNameSoapIn">
    <part name="parameters" element="s0:SetDatabaseName" />
  </message>
  <message name="SetDatabaseNameSoapOut">
    <part name="parameters" element="s0:SetDatabaseNameResponse" />
  </message>
  <message name="GetDatabaseNameSoapIn">
    <part name="parameters" element="s0:GetDatabaseName" />
  </message>
  <message name="GetDatabaseNameSoapOut">
    <part name="parameters" element="s0:GetDatabaseNameResponse" />
  </message>
  <message name="ClearDatabaseNameSoapIn">
    <part name="parameters" element="s0:ClearDatabaseName" />
  </message>
  <message name="ClearDatabaseNameSoapOut">
    <part name="parameters" element="s0:ClearDatabaseNameResponse" />
  </message>
  <message name="GetServerNameSoapIn">
    <part name="parameters" element="s0:GetServerName" />
  </message>
  <message name="GetServerNameSoapOut">
    <part name="parameters" element="s0:GetServerNameResponse" />
  </message>
  <message name="GetDatabaseUserNameSoapIn">
    <part name="parameters" element="s0:GetDatabaseUserName" />
  </message>
  <message name="GetDatabaseUserNameSoapOut">
    <part name="parameters" element="s0:GetDatabaseUserNameResponse" />
  </message>
  <message name="GetDatabasePasswordSoapIn">
    <part name="parameters" element="s0:GetDatabasePassword" />
  </message>
  <message name="GetDatabasePasswordSoapOut">
    <part name="parameters" element="s0:GetDatabasePasswordResponse" />
  </message>
  <message name="ConnectionStringSoapIn">
    <part name="parameters" element="s0:ConnectionString" />
  </message>
  <message name="ConnectionStringSoapOut">
    <part name="parameters" element="s0:ConnectionStringResponse" />
  </message>
  <message name="GetLanguageStringSoapIn">
    <part name="parameters" element="s0:GetLanguageString" />
  </message>
  <message name="GetLanguageStringSoapOut">
    <part name="parameters" element="s0:GetLanguageStringResponse" />
  </message>
  <message name="GetPrimaryKeyColumnsSoapIn">
    <part name="parameters" element="s0:GetPrimaryKeyColumns" />
  </message>
  <message name="GetPrimaryKeyColumnsSoapOut">
    <part name="parameters" element="s0:GetPrimaryKeyColumnsResponse" />
  </message>
  <message name="GetCalculatedTextSoapIn">
    <part name="parameters" element="s0:GetCalculatedText" />
  </message>
  <message name="GetCalculatedTextSoapOut">
    <part name="parameters" element="s0:GetCalculatedTextResponse" />
  </message>
  <message name="GetMaxLengthSoapIn">
    <part name="parameters" element="s0:GetMaxLength" />
  </message>
  <message name="GetMaxLengthSoapOut">
    <part name="parameters" element="s0:GetMaxLengthResponse" />
  </message>
  <message name="GetDefaultValueSoapIn">
    <part name="parameters" element="s0:GetDefaultValue" />
  </message>
  <message name="GetDefaultValueSoapOut">
    <part name="parameters" element="s0:GetDefaultValueResponse" />
  </message>
  <message name="IsCalculatedSoapIn">
    <part name="parameters" element="s0:IsCalculated" />
  </message>
  <message name="IsCalculatedSoapOut">
    <part name="parameters" element="s0:IsCalculatedResponse" />
  </message>
  <message name="IsNullableSoapIn">
    <part name="parameters" element="s0:IsNullable" />
  </message>
  <message name="IsNullableSoapOut">
    <part name="parameters" element="s0:IsNullableResponse" />
  </message>
  <message name="GetFieldInfoStructureSoapIn">
    <part name="parameters" element="s0:GetFieldInfoStructure" />
  </message>
  <message name="GetFieldInfoStructureSoapOut">
    <part name="parameters" element="s0:GetFieldInfoStructureResponse" />
  </message>
  <portType name="UserServiceSoap">
    <operation name="LoadCombo">
      <input message="s0:LoadComboSoapIn" />
      <output message="s0:LoadComboSoapOut" />
    </operation>
    <operation name="UpdateData">
      <input message="s0:UpdateDataSoapIn" />
      <output message="s0:UpdateDataSoapOut" />
    </operation>
    <operation name="LoadData">
      <input message="s0:LoadDataSoapIn" />
      <output message="s0:LoadDataSoapOut" />
    </operation>
    <operation name="GetSalesManagers">
      <input message="s0:GetSalesManagersSoapIn" />
      <output message="s0:GetSalesManagersSoapOut" />
    </operation>
    <operation name="LoadNewOwnersCombo">
      <input message="s0:LoadNewOwnersComboSoapIn" />
      <output message="s0:LoadNewOwnersComboSoapOut" />
    </operation>
    <operation name="LoadProjectTeam">
      <input message="s0:LoadProjectTeamSoapIn" />
      <output message="s0:LoadProjectTeamSoapOut" />
    </operation>
    <operation name="LoadUsersForEventsCombo">
      <input message="s0:LoadUsersForEventsComboSoapIn" />
      <output message="s0:LoadUsersForEventsComboSoapOut" />
    </operation>
    <operation name="GetDirectors">
      <input message="s0:GetDirectorsSoapIn" />
      <output message="s0:GetDirectorsSoapOut" />
    </operation>
    <operation name="GetUserSettings">
      <input message="s0:GetUserSettingsSoapIn" />
      <output message="s0:GetUserSettingsSoapOut" />
    </operation>
    <operation name="UpdateUserSettings">
      <input message="s0:UpdateUserSettingsSoapIn" />
      <output message="s0:UpdateUserSettingsSoapOut" />
    </operation>
    <operation name="GetUserId">
      <documentation>Returns the identifier for the requested user, 0 if it doesn't exist.</documentation>
      <input message="s0:GetUserIdSoapIn" />
      <output message="s0:GetUserIdSoapOut" />
    </operation>
    <operation name="GetSingleUserDescription">
      <input message="s0:GetSingleUserDescriptionSoapIn" />
      <output message="s0:GetSingleUserDescriptionSoapOut" />
    </operation>
    <operation name="CanUserModifyThisEvent">
      <input message="s0:CanUserModifyThisEventSoapIn" />
      <output message="s0:CanUserModifyThisEventSoapOut" />
    </operation>
    <operation name="UpdateUserRights">
      <input message="s0:UpdateUserRightsSoapIn" />
      <output message="s0:UpdateUserRightsSoapOut" />
    </operation>
    <operation name="GetUserRights2">
      <input message="s0:GetUserRights2SoapIn" />
      <output message="s0:GetUserRights2SoapOut" />
    </operation>
    <operation name="GetUserRights">
      <input message="s0:GetUserRightsSoapIn" />
      <output message="s0:GetUserRightsSoapOut" />
    </operation>
    <operation name="StartUpApp">
      <input message="s0:StartUpAppSoapIn" />
      <output message="s0:StartUpAppSoapOut" />
    </operation>
    <operation name="SetDatabaseName">
      <documentation>Assigns an alternative database to use.</documentation>
      <input message="s0:SetDatabaseNameSoapIn" />
      <output message="s0:SetDatabaseNameSoapOut" />
    </operation>
    <operation name="GetDatabaseName">
      <documentation>Retrieves the database.</documentation>
      <input message="s0:GetDatabaseNameSoapIn" />
      <output message="s0:GetDatabaseNameSoapOut" />
    </operation>
    <operation name="ClearDatabaseName">
      <documentation>Clears database for IP address of user.</documentation>
      <input message="s0:ClearDatabaseNameSoapIn" />
      <output message="s0:ClearDatabaseNameSoapOut" />
    </operation>
    <operation name="GetServerName">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetServerNameSoapIn" />
      <output message="s0:GetServerNameSoapOut" />
    </operation>
    <operation name="GetDatabaseUserName">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetDatabaseUserNameSoapIn" />
      <output message="s0:GetDatabaseUserNameSoapOut" />
    </operation>
    <operation name="GetDatabasePassword">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:GetDatabasePasswordSoapIn" />
      <output message="s0:GetDatabasePasswordSoapOut" />
    </operation>
    <operation name="ConnectionString">
      <documentation>Used by EPS reports.</documentation>
      <input message="s0:ConnectionStringSoapIn" />
      <output message="s0:ConnectionStringSoapOut" />
    </operation>
    <operation name="GetLanguageString">
      <input message="s0:GetLanguageStringSoapIn" />
      <output message="s0:GetLanguageStringSoapOut" />
    </operation>
    <operation name="GetPrimaryKeyColumns">
      <input message="s0:GetPrimaryKeyColumnsSoapIn" />
      <output message="s0:GetPrimaryKeyColumnsSoapOut" />
    </operation>
    <operation name="GetCalculatedText">
      <input message="s0:GetCalculatedTextSoapIn" />
      <output message="s0:GetCalculatedTextSoapOut" />
    </operation>
    <operation name="GetMaxLength">
      <input message="s0:GetMaxLengthSoapIn" />
      <output message="s0:GetMaxLengthSoapOut" />
    </operation>
    <operation name="GetDefaultValue">
      <input message="s0:GetDefaultValueSoapIn" />
      <output message="s0:GetDefaultValueSoapOut" />
    </operation>
    <operation name="IsCalculated">
      <input message="s0:IsCalculatedSoapIn" />
      <output message="s0:IsCalculatedSoapOut" />
    </operation>
    <operation name="IsNullable">
      <input message="s0:IsNullableSoapIn" />
      <output message="s0:IsNullableSoapOut" />
    </operation>
    <operation name="GetFieldInfoStructure">
      <input message="s0:GetFieldInfoStructureSoapIn" />
      <output message="s0:GetFieldInfoStructureSoapOut" />
    </operation>
  </portType>
  <binding name="UserServiceSoap" type="s0:UserServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="LoadCombo">
      <soap:operation soapAction="http://www.Accuride.com/UserService/LoadCombo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateData">
      <soap:operation soapAction="http://www.Accuride.com/UserService/UpdateData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadData">
      <soap:operation soapAction="http://www.Accuride.com/UserService/LoadData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSalesManagers">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetSalesManagers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadNewOwnersCombo">
      <soap:operation soapAction="http://www.Accuride.com/UserService/LoadNewOwnersCombo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadProjectTeam">
      <soap:operation soapAction="http://www.Accuride.com/UserService/LoadProjectTeam" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoadUsersForEventsCombo">
      <soap:operation soapAction="http://www.Accuride.com/UserService/LoadUsersForEventsCombo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDirectors">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetDirectors" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserSettings">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetUserSettings" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateUserSettings">
      <soap:operation soapAction="http://www.Accuride.com/UserService/UpdateUserSettings" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserId">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetUserId" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSingleUserDescription">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetSingleUserDescription" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CanUserModifyThisEvent">
      <soap:operation soapAction="http://www.Accuride.com/UserService/CanUserModifyThisEvent" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateUserRights">
      <soap:operation soapAction="http://www.Accuride.com/UserService/UpdateUserRights" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserRights2">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetUserRights2" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserRights">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetUserRights" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StartUpApp">
      <soap:operation soapAction="http://www.Accuride.com/UserService/StartUpApp" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/UserService/SetDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ClearDatabaseName">
      <soap:operation soapAction="http://www.Accuride.com/UserService/ClearDatabaseName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetServerName">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetServerName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabaseUserName">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetDatabaseUserName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDatabasePassword">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetDatabasePassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConnectionString">
      <soap:operation soapAction="http://www.Accuride.com/UserService/ConnectionString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLanguageString">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetLanguageString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPrimaryKeyColumns">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetPrimaryKeyColumns" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCalculatedText">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetCalculatedText" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMaxLength">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetMaxLength" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDefaultValue">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetDefaultValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsCalculated">
      <soap:operation soapAction="http://www.Accuride.com/UserService/IsCalculated" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsNullable">
      <soap:operation soapAction="http://www.Accuride.com/UserService/IsNullable" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFieldInfoStructure">
      <soap:operation soapAction="http://www.Accuride.com/UserService/GetFieldInfoStructure" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UserService">
    <port name="UserServiceSoap" binding="s0:UserServiceSoap">
      <soap:address location="http://uksql3/PITSService/UserService.asmx" />
    </port>
  </service>
</definitions>